@model IEnumerable<WebApplication1.Models.autor>

@{
    ViewBag.Title = "Index";
    
}

<h2>Lista svih autora</h2>

<p>
    @Html.ActionLink("Kreiraj novi", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prezime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prezime)
        </td>
        <td>
            @Html.ActionLink("Uredi", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalji", "Details", new { id=item.id }) |
            @Html.ActionLink("Obriši", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
